.card {
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 0 24px;
}

.backButton {
  display: flex;
  align-self: flex-start;
  margin-bottom: 33px;
}

.caption {
  display: flex;
  align-self: flex-start;
  margin-bottom: 69px;
}

.body {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  .bodyTypography {
    color: var(--color-dark-100)
  }

  .bodyButton {
    align-self: center;
  }
}