.packContainer {
  display: flex;
  flex-direction: column;
  width: 542px;

  .header {
    display: flex;
    justify-content: space-between;
    margin: 24px;
  }

  .body {
    margin: 24px;

    .bodyItem {
      margin-bottom: 24px;
    }
  }
  

  .footerBtns {
    display: flex;
    justify-content: space-between;
    margin: 12px 24px 36px;
  }
}