.deckNameAndBtnContainer {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  row-gap: 33px;
  align-self: flex-start;

  width: 100%;
  margin-bottom: 24px;

  .deckNameAndBtnContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .firstRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      span {
        display: flex;
        align-content: baseline;
      }
    }

    img {
      width: 100px;
      height: auto;
    }
  }

  .backBtn {
    display: flex;
    justify-content: flex-start;
  }
}

.search {
  margin-bottom: 16px;

  svg {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-dark-900);
  }
}

.DropdownMenuItem {
  user-select: none;

  position: relative;
  z-index: -1;

  display: flex;
  align-items: center;

  height: 25px;
  margin-left: 6px;
  padding: 20px 10px;

  font-size: 13px;
  line-height: 1;
  color: var(--color-light-100);

  border-radius: 3px;
  outline: none;

  button {
    > svg {
      margin-right: 6px;
    }
  }

  > svg {
    margin-right: 6px;
  }
}

.DropdownMenuItem[data-highlighted] {
  color: var(--color-accent-700);
  background-color: var(--color-accent-100);
}
