.body {
  .select {
    margin-bottom: 24px;
  }

  .fileUploadersContainer {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  .textUploaderContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .bodyItem.question {
    position: relative; // FIXME: Problem with error messages position
    margin-bottom: 24px;
  }
}

.footerBtns {
  display: flex;
  justify-content: space-between;
  margin: 12px 24px 36px;
}
