.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 60px;
  padding: 0 137px;

  background-color: var(--color-dark-500);
  border-bottom: var(--color-light-100);

  img {
    height: 36px;
  }

  .avatarAndName {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 50px;
      clip-path: circle(40% at 50% 50%);
      
    }

  }
}