
.dialog {
}

.body {
  .bodyItem {
    position: relative; // FIXME: Problem with error messages position
    margin-bottom: 24px;
  }
}


.footerBtns {
  display: flex;
  justify-content: space-between;
  margin: 12px 24px 36px;
}
