.body {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  .caption {
    color: var(--color-light-100);
    text-align: center;
  }
}

.uploader {
  float: right;
  width: 34px;
  margin-top: -25px;
}

.avatarContainer {
  display: flex;
  justify-content: center;

  .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  > div {
    position: relative;

    //Hide input type='file' default button
    [type="file"] {
      color: transparent;

      &::file-selector-button {
        display: none;
      }

      // Safari only
      @media not all and (resolution >=.001dpcm) {
        @supports (-webkit-appearance:none) {
          margin-left: -7em;

          &::file-selector-button {
            display: inline;
          }
        }
      }
    }

    img {
      width: 121px;
      height: 121px;
      border-radius: 50%;
    }
  }
}