
.signInContainer {
  width: 420px;
  margin: 25px;

  .form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 41px;

    .instructions {
      color: var(--color-dark-100);
    }
  }

  .caption {
    margin-bottom: 51px;
    color: var(--color-light-100);
    text-align: center;
  }
}

.signupContainer {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: center;

  .button {
    margin-bottom: 10px;
    padding: 6px 28px;
    font-weight: 600;
    box-shadow: -1px 5px 10px -3px rgb(140 97 255 / 47%);
  }
}