.button {
  cursor: pointer;

  display: flex;
  justify-content: center;

  padding: 6px 28px;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-s);
  font-weight: var(--line-height-l);
  text-align: center;
  text-decoration: none;

  border: none;
  outline: none;

  &.fullWidth {
    justify-content: center;
    width: 100%;
  }

  .icon > svg {
    display: flex;
    width: 18px;
    height: 18px;

    //margin-right: 8px;
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }
}

.primary {
  background-color: var(--color-accent-500);
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:focus {
    background-color: var(--color-accent-500);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  // Active should be under the hover and focus.

  &:disabled {
    background-color: var(--color-accent-900);
  }
}

.secondary {
  background-color: var(--color-dark-300);
  border-radius: 4px;

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:focus {
    background-color: var(--color-dark-300);
  }

  &:active {
    background-color: var(--color-dark-500);
  }

  &:disabled {
    background-color: var(--color-dark-300);
  }
}

.tertiary {
  color: var(--color-accent-500);
  background-color: var(--color-tertiary-500);
  border: 1px solid var(--color-accent-500);
  border-radius: 4px;

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:focus {
    //border: 2px solid var(--color-info-700);
  }

  &:active {
    background-color: var(--color-accent-900);
  }

  &:disabled {
    background-color: var(--color-accent-900);
    border: 1px solid var(--color-accent-900);
  }
}

.link {
  padding: 0;
  color: var(--color-accent-500);
  background-color: transparent;
  border-radius: 4px;

  &:hover {
    color: var(--color-accent-300);
  }

  &:focus {
    color: var(--color-accent-500);

    //border: 2px solid var(--color-info-500);
    //border-radius: 25px;
  }

  &:active {
    color: var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-accent-900);
  }
}

.icon {
  //margin-right: 6px;
  padding: 0;
}